################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KodiAndroid/bin
/packages
/KodiAndroid/obj
/.vs
/KodiAndroid/KodiAndroid.csproj.user
.vs/KodiAndroid/v15/.suo
